:root {
    --cor-branca: white;
    --cor-preta: black;
    --cor-rose: #EF476F;
    --cor-verde: #06D6A0;
    --cor-azul-claro: #118AB2;
    --cor-azul-escuro: #073B4C;
}

* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    /* font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Mono', monospace; */
    overflow-x: hidden;
}


#banner {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upper {
    overflow: hidden;
    width: 93%;
    height: calc(100vh - 10vh);
    background-image: url("../img/van-gogh.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    margin-bottom: 50px;
    border-radius: 15px;
}

#pp {
    height: 100%;
    width: 95%;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.58) 87.5%, rgba(255, 255, 255, 0.00) 100%); */
    background: linear-gradient(90deg, rgb(71 58 58 / 50%) 87.5%, rgba(255, 255, 255, 0.00) 100%);
    overflow: hidden;
}

#upper p {
    color: var(--cor-branca);
    height: 100%;
    width: 60%;
    font-size: 65px;
    padding-left: 25px;
    padding-top: 25px;
    font-family: 'Roboto Mono', monospace;
}

/* ------------------------------materiais-------------------------------- */
#materiais {
    overflow-x: hidden;
}


#title-m {
    position: relative;
    color: var(--cor-preta);
    background-image: url("../img/titler-removebg-preview.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 200px;
}

#title-m p {
    font-size: 80px;
    margin-left: 100px;
    color: var(--cor-branca);
}

#card {
    margin-top: 80px;
    margin-bottom: 100px;
}

.c-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.c-img img{
    width: 80%;
    height: 80%;
    border: solid 8px var(--cor-rose);
}

.acima {
    position: absolute;
    background: linear-gradient(90deg, rgb(71 58 58 / 50%) 87.5%, rgba(255, 255, 255, 0.00) 100%);
    width: calc(80% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--cor-branca);
}

.acima p {
    font-size: 7vw;
    font-family: 'Lobster', sans-serif;
}

#techA {
    opacity: 0;
}

#techA:hover {
    opacity: 1;
}

#tintaA {
    opacity: 0;
}

#tintaA:hover {
    opacity: 1;
}

#pinA {
    opacity: 0;
}

#pinA:hover {
    opacity: 1;
}

/* -----------------------mona------------------------- */

#mona {
    width: 100%;
    height: 100vh;
    background-image: url("../img/mona.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------------------------ofertas -----------------------*/

#ofTitle {
    background-image: url("../img/verdeTitle-removebg-preview.png");
    background-repeat: no-repeat;

    position: relative;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 200px;
    width: 85%;
    margin-top: 60px;
    margin-bottom: 120px;

    background-size: contain;
}

#ofTitle p{
    font-size: 80px;
    color: var(--cor-branca);
    margin-left: 100px;
}

/* slider */

.ofSlide {
    position: relative;
    margin-left: 5%;
    height: 600px;
}

.ofs {
    position: absolute;
    width: 80%;
    overflow: hidden;
}

.ofs img {
    width: 100%;
    border-radius: 20px;
}

#on {
    left: 0px;
}

#tw {
    left: 85%;
}

.seta{
    width: 50px;
    position: absolute;
}

.sobI {
    position: absolute;
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.58) 87.5%, rgba(255, 255, 255, 0.00) 100%);;
}

.sobT {
    font-size: 100px;
}

.sobP {
    font-size: 80px;
    color: var(--cor-azul-claro);
}

.sobTx {
    padding-left: 8%;
    font-family: 'Roboto Mono', monospace;
}

/* fim slider */

#btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#btns button {
    background-color: var(--cor-verde);
    width: 50px;
    height: 50px;
    border: 1px solid var(--cor-branca);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btns button:hover {
    background-color: var(--cor-branca);
    border: solid 2px var(--cor-verde);
}

#grito {
    height: 100vh;
    width: 100%;
    background-image: url("../img/grito.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* obas dos usuários */

#obrasdearte {
    margin-bottom: 50px;
}

#Otitle {
    font-size: 80px;
    height: 420px;
    width: 100%;
    color: var(--cor-branca);
}

#Otitle p {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("../img/azulescuro.png");
    background-repeat: no-repeat;
    background-position: center;
}

.oimg {
    position: relative;
}

.oimg img {
    width: 100%;
}

.oimg img:hover {
    width: 109%;
}


#lisa {
    width:  123.3%;
}

#lisa:hover {
    width:  132.3%;
}

.oentre {
    margin-bottom: 20px;
}

/* contemp-- */

#contemp {
    height: 100vh;

    background-image: url("../img/conteporanea.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* tutoriais */

#tutoriais {
    margin-bottom: 100px;
}

#tutTitle {
    height: 300px;
}

#tutTitle p {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-branca);

    background-image: url("../img/amarelotitle.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 70px);
}

.tut {
    font-size: 50px;
    color: var(--cor-azul-escuro);
    margin-left: 40px;
}

.vi {
    border-radius: 30px;
    width: 90vw;
}

.vivi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ofTitle {
    background-image: url("../img/verdeTitle-removebg-preview.png");
    background-repeat: no-repeat;

    position: relative;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 200px;
    width: 85%;
    margin-top: 60px;
    margin-bottom: 120px;

    background-size: contain;
}

#ofTitle p{
    font-size: 80px;
    color: var(--cor-branca);
    margin-left: 100px;
}

/* slider */

.ofSlide {
    margin-left: 5%;
    height: 600px;
}

.ofs {
    position: absolute;
    width: 75%;
    overflow: hidden;
}

.ofs img {
    width: 100%;
}

#tw {
    left: 85%;
}

.seta{
    width: 50px;
    position: absolute;
}